
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 12px 0;
    font-family: 'ZCOOL QingKe HuangYou';

}
.container{
    height: 12vh;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    border: 2px solid #9d8e8e;
    border-radius: 1rem;
    margin: 8px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 2rem;
    color: white;
    background-color: #d43b3b;
    cursor: pointer;
    margin: 25px;
    outline: none;
}